In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
%matplotlib inline

In [4]:
datasets = pd.read_csv("heart.csv")
datasets.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
datasets.shape

(303, 14)

In [11]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [12]:
datasets.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [17]:
datasets.corr()  #各个特征之间的相关性系数

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.000000,-0.098447,-0.068653,0.279351,0.213678,0.121308,-0.116211,-0.398522,0.096801,0.210013,-0.168814,0.276326,0.068001,-0.225439
sex,-0.098447,1.000000,-0.049353,-0.056769,-0.197912,0.045032,-0.058196,-0.044020,0.141664,0.096093,-0.030711,0.118261,0.210041,-0.280937
cp,-0.068653,-0.049353,1.000000,0.047608,-0.076904,0.094444,0.044421,0.295762,-0.394280,-0.149230,0.119717,-0.181053,-0.161736,0.433798
trestbps,0.279351,-0.056769,0.047608,1.000000,0.123174,0.177531,-0.114103,-0.046698,0.067616,0.193216,-0.121475,0.101389,0.062210,-0.144931
chol,0.213678,-0.197912,-0.076904,0.123174,1.000000,0.013294,-0.151040,-0.009940,0.067023,0.053952,-0.004038,0.070511,0.098803,-0.085239
fbs,0.121308,0.045032,0.094444,0.177531,0.013294,1.000000,-0.084189,-0.008567,0.025665,0.005747,-0.059894,0.137979,-0.032019,-0.028046
restecg,-0.116211,-0.058196,0.044421,-0.114103,-0.151040,-0.084189,1.000000,0.044123,-0.070733,-0.058770,0.093045,-0.072042,-0.011981,0.137230
thalach,-0.398522,-0.044020,0.295762,-0.046698,-0.009940,-0.008567,0.044123,1.000000,-0.378812,-0.344187,0.386784,-0.213177,-0.096439,0.421741
exang,0.096801,0.141664,-0.394280,0.067616,0.067023,0.025665,-0.070733,-0.378812,1.000000,0.288223,-0.257748,0.115739,0.206754,-0.436757
oldpeak,0.210013,0.096093,-0.149230,0.193216,0.053952,0.005747,-0.058770,-0.344187,0.288223,1.000000,-0.577537,0.222682,0.210244,-0.430696
slope,-0.168814,-0.030711,0.119717,-0.121475,-0.004038,-0.059894,0.093045,0.386784,-0.257748,-0.577537,1.000000,-0.080155,-0.104764,0.345877
ca,0.276326,0.118261,-0.181053,0.101389,0.070511,0.137979,-0.072042,-0.213177,0.115739,0.222682,-0.080155,1.000000,0.151832,-0.391724
thal,0.068001,0.210041,-0.161736,0.062210,0.098803,-0.032019,-0.011981,-0.096439,0.206754,0.210244,-0.104764,0.151832,1.000000,-0.344029
target,-0.225439,-0.280937,0.433798,-0.144931,-0.085239,-0.028046,0.137230,0.421741,-0.436757,-0.430696,0.345877,-0.391724,-0.344029,1.000000

In [14]:
from sklearn.model_selection import train_test_split #划分训练集和验证集
train_set, test_set = train_test_split(datasets, test_size=0.2)

In [15]:
train_set #显示效果

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
41,48,1,1,130,245,0,0,180,0,0.2,1,0,2,1
200,44,1,0,110,197,0,0,177,0,0.0,2,1,2,0
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2,1
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3,0
250,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0

In [33]:
train_set = np.array(train_set)  #将DataFrame转换为ndarray
test_set = np.array(test_set)
x_train, y_train, x_test, y_test = train_set[:, :13], train_set[:, 13:], test_set[:, :13], test_set[:, 13:]
x_train.shape, y_train.shape #验证
y_train = y_train.ravel()  #扁平化,然后进行拟合

((242, 13), (242, 1))

## 随机森林分类器

In [34]:
from sklearn.ensemble import RandomForestClassifier  #简单的随机森林分类器
rfc_tree = RandomForestClassifier()
rfc_tree.fit(x_train, y_train)

RandomForestClassifier()

In [37]:
y_test_pred = rfc_tree.predict(x_test)

In [40]:
from sklearn.metrics import precision_score  #评估准确率

In [42]:
# y_test = y_test.ravel()
precision_score(y_test_pred, y_test)

0.8181818181818182

### 调整参数

In [52]:
datasets_array = datasets.values
np.random.shuffle(datasets_array) # 打乱顺序
x_tree_rfc, y_tree_rfc = datasets_array[: , :13], datasets_array[: , 13:]
y_tree_rfc = y_tree_rfc.ravel()
rfc_tree_1 = RandomForestClassifier(n_estimators=100, oob_score=True)
rfc_tree_1.fit(x_tree_rfc, y_tree_rfc)

RandomForestClassifier(oob_score=True)

In [51]:
rfc_tree_1.oob_score_

0.8250825082508251

In [65]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
# pipe = Pipeline([("scaler", StandardScaler()), ("rfc", RandomForestClassifier(n_estimators=100, oob_score=True))])
scaler = StandardScaler() # 标准化特征
rfc = RandomForestClassifier(n_estimators=100, oob_score=True)

x_tree_rfc_scaler = scaler.fit_transform(x_tree_rfc)

rfc.fit(x_tree_rfc_scaler, y_tree_rfc)

RandomForestClassifier(oob_score=True)

In [67]:
rfc.oob_score_

0.8448844884488449

## AdaBoosting 分类器

In [69]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

In [128]:
abc = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=4, max_features=5, min_samples_leaf=2), n_estimators=1000, learning_rate=0.8)  # 深度有很大影响,结果不稳定
abc.fit(x_train, y_train)
y_test_abc = abc.predict(x_test)
precision_score(y_test_abc, y_test)

0.8484848484848485

In [130]:
x_train_abc_scaler = scaler.fit_transform(x_train)  # 标准化后结果依旧不稳定
abc.fit(x_train_abc_scaler, y_train)
y_test_abc = abc.predict(x_test)
precision_score(y_test_abc, y_test)

0.5151515151515151

## 线性分类器

In [132]:
from sklearn.linear_model import SGDClassifier

In [137]:
sgd = SGDClassifier()
sgd.fit(x_train, y_train)

SGDClassifier()

In [138]:
sgd.coef_, sgd.intercept_

(array([[ -338.06161345,  -622.38330313,  1384.74036118,  -559.89501968,
          -151.84652878,     6.24882834,   134.34980941,   664.25045304,
          -598.63775542, -1699.36886834,   606.13634943, -1277.26051365,
          -786.10260576]]),
 array([-99.92778039]))

In [139]:
y_test_sgd = sgd.predict(x_test)
precision_score(y_test, y_test_sgd)

0.5

### 进行特征标准化

In [143]:
pipe = Pipeline([('scaler', StandardScaler()), ('sgd', SGDClassifier())])
pipe.fit(x_train, y_train)
y_test_scaler_sgd = pipe.predict(x_test)
precision_score(y_test, y_test_scaler_sgd)

0.8484848484848485